@import "../../../styles/settings.scss";

.productDescription {
  background-color: $color-lightblue;
}

.giftBoxesTitle {
  font-size: 48px;
  color: $color-navyblue;
  text-align: center;
  padding: 20px 0;
}

.giftBoxes {
  display: inline-flex;
  margin-bottom: 12px;
}

.giftBox01, .giftBox02, .giftBox03, .giftBox04, .giftBox05 {
   width: 19.8vw;
   img {
     width: 100%;
   }
}

.titleProduct {
  color: $color-navyblue;
  font-size: 60px;
  margin: 60px 0 0 0;
  padding-bottom: 20px;
  text-align: center;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    width: 50%;
    height: 2px;
    bottom: 0;
    left: 25%;
    background-color: $color-navyblue;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.5s cubic-bezier(1, 0.25, 0, 0.75) 0s;
    transition: all 0.5s cubic-bezier(1, 0.25, 0, 0.75) 0s;
  }
  &:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

.textProduct {
  font-size: 32px;
  text-align: center;
  color: $color-navyblue;
  padding: 20px 0 0 0;
  margin: 40px 0 0 0;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    width: 50%;
    height: 2px;
    top: 0;
    left: 25%;
    background-color: $color-navyblue;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.5s cubic-bezier(1, 0.25, 0, 0.75) 0s;
    transition: all 0.5s cubic-bezier(1, 0.25, 0, 0.75) 0s;
  }
  &:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

.productDetailPhotos {
  margin: 48px 0 0 0;
  padding: 0 0 48px 0;
}

.productDetailPhotos img {
  width: 300px;
  height: 300px;
  margin: 0 166px;
  padding: 0;
  object-fit: cover;
  border: solid 1px $color-dark;
  transition: transform 0.2s;
  &:hover {
    transform: scale(1.3);
  }
}

.selectQuantity {
  font-size: 32px;
  color: $color-navyblue;
  padding: 20px 0 60px 0;
  text-align: center;
  text-transform: uppercase;
}

.plusAndMinus {
  font-size: 20px;
  display: inline-flex;
  padding: 12px 0 0 0;
  margin-bottom: 12px;
}

.minus,
.plus {
  margin: 0 8px;
  color: $color-light;
  background-color: $color-navyblue;
  height: 44px;
  width: 44px;
  border-radius: 15%;
  position: relative;
  z-index: 1;
  &:hover {
    box-shadow: 0 0px 10px $color-navyblue;
  }
}

.totalPrice {
  margin: 0 0 16px 0;
  font-size: 24px;
}

.addToCartContainer {
  width: fit-content;
  margin: 0 auto;
}

.addToCart {
  position: relative;
  z-index: 2;
  color: $color-navyblue;
  background-color: $color-light;
  border: solid 1px $color-navyblue;
  padding: 8px 12px;
  margin: 0 0 80px 0;
  border-radius: 3%;
  font-size: 24px;
  cursor: pointer;
  transition: box-shadow 0.2s ease-in-out;
  &:hover {
    text-decoration: none;
    color: $color-navyblue;
    box-shadow: 0 0px 10px $color-navyblue;
  }
}

.amount {
  position: relative;
  z-index: 1;
  margin: 0 8px;
  color: $color-navyblue;
  background-color: $color-light;
  font-size: 24px;
  height: 44px;
  width: 44px;
  border: solid 1px $color-navyblue;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.goToBasket {
  text-transform: uppercase;
  background: linear-gradient(
    -45deg,
    $color-blue,
    $color-importantDark,
    $color-darkblue,
    $color-importantDark,
    $color-blue
  );
  background-size: 200% 200%;
  animation: gradient 8s ease infinite;
  padding: 20px 40px;
  color: $color-light;
  border: solid 1px black;
  font-family: $font-text;
  font-size: 32px;
  position: relative;
  z-index: 1;
  &:hover {
    text-decoration: none;
    color: $color-light;
    box-shadow: 0 0px 20px $color-navyblue;
    font-weight: bold;
  }
}

.squares {
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}

.squares li {
  position: absolute;
  display: block;
  list-style: none;
  animation: animate 25s linear infinite;
  animation-delay: -2.5s;
  bottom: 10px;
}

.squares li:nth-child(1) {
  left: 7%;
  animation-duration: 15s;
  color: $color-important;
}

.squares li:nth-child(2) {
  left: 9%;
  animation-duration: 19s;
  color: $color-lighterblue;
}

.squares li:nth-child(3) {
  left: 12%;
  animation-duration: 23s;
  color: $color-navyblue;
}

.squares li:nth-child(4) {
  left: 14%;
  animation-duration: 27s;
  color: $color-important;
}

.squares li:nth-child(5) {
  left: 17%;
  animation-duration: 31s;
  color: $color-lighterblue;
}

.squares li:nth-child(6) {
  left: 19%;
  animation-duration: 17s;
  color: $color-importantDark;
}

.squares li:nth-child(7) {
  left: 22%;
  animation-duration: 21s;
  color: $color-lighterblue;
}

.squares li:nth-child(8) {
  left: 24%;
  animation-duration: 25s;
  color: $color-lighterblue;
}

.squares li:nth-child(9) {
  left: 27%;
  animation-duration: 26s;
  color: $color-importantDark;
}

.squares li:nth-child(10) {
  left: 29%;
  animation-duration: 16s;
  color: $color-blue;
}

.squares li:nth-child(11) {
  left: 32%;
  animation-duration: 18s;
  color: $color-navyblue;
}

.squares li:nth-child(12) {
  left: 34%;
  animation-duration: 22s;
  color: $color-blue;
}

.squares li:nth-child(13) {
  left: 37%;
  animation-duration: 26s;
  color: $color-important;
}

.squares li:nth-child(14) {
  left: 39%;
  animation-duration: 24s;
  color: $color-lighterblue;
}

.squares li:nth-child(15) {
  left: 42%;
  animation-duration: 20s;
  color: $color-blue;
}

.squares li:nth-child(16) {
  left: 45%;
  animation-duration: 13.5s;
  color: $color-importantDark;
}

.squares li:nth-child(17) {
  left: 47%;
  animation-duration: 14.5s;
  color: $color-navyblue;
}

.squares li:nth-child(18) {
  left: 51%;
  animation-duration: 21s;
  color: $color-blue;
}

.squares li:nth-child(19) {
  left: 55%;
  animation-duration: 20s;
  color: $color-lighterblue;
}

.squares li:nth-child(20) {
  left: 60%;
  animation-duration: 15s;
  color: $color-lighterblue;
}

.squares li:nth-child(21) {
  left: 64%;
  animation-duration: 18s;
  color: $color-important;
}

.squares li:nth-child(22) {
  left: 69%;
  animation-duration: 21s;
  color: $color-lighterblue;
}

.squares li:nth-child(23) {
  left: 74%;
  animation-duration: 26s;
  color: $color-lighterblue;
}

.squares li:nth-child(24) {
  left: 78%;
  animation-duration: 22s;
  color: $color-blue;
}

.squares li:nth-child(25) {
  left: 82%;
  animation-duration: 23s;
  color: $color-importantDark;
}

.squares li:nth-child(26) {
  left: 86%;
  animation-duration: 19s;
  color: $color-blue;
}

.squares li:nth-child(27) {
  left: 87%;
  animation-duration: 20s;
  color: $color-lighterblue;
}

.squares li:nth-child(28) {
  left: 88%;
  animation-duration: 24s;
  color: $color-navyblue;
}

.squares li:nth-child(29) {
  left: 89%;
  animation-duration: 27s;
  color: $color-important;
}

.squares li:nth-child(30) {
  left: 90%;
  animation-duration: 22s;
  color: $color-important;
}

.squares li:nth-child(31) {
  left: 91%;
  animation-duration: 17s;
  color: $color-importantDark;
}

.squares li:nth-child(32) {
  left: 92%;
  animation-duration: 14s;
  color: $color-importantDark;
}

@keyframes animate {
  0% {
    transform: translateY(80vh) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-100vh) rotate(720deg);
    opacity: 0.9;
    border-radius: 0;
  }
}

//////////////////////////////////////////////////////////////////////////////////////////// Media query

@media (max-width: 767px) {
  //sm
  .titleProduct {
    font-size: 20px;
    margin: 0;
    padding: 8px 0;
  }

  .giftBoxes, .giftBoxesTitle {
    display: none;
  }

  .textProduct {
    font-size: 14px;
    padding: 0;
    margin: 8px 0 0 0;
  }

  .productDetailPhotos {
    margin: 0;
    padding: 0;
  }

  .productDetailPhotos img {
    width: 96vw;
    height: 200px;
    margin: 4px 1vw;
  }

  .selectQuantity {
    font-size: 12px;
    padding: 8px 0 16px 0;
  }

  .squares {
    display: none;
  }
}

@media (max-width: 411px) {
  // pixel 2 xl
  .titleProduct {
    font-size: 20px;
    margin: 0;
    padding: 8px 0;
  }

  .giftBoxes, .giftBoxesTitle {
    display: none;
  }

  .textProduct {
    font-size: 14px;
    padding: 0;
    margin: 8px 0 0 0;
  }

  .productDetailPhotos {
    margin: 0;
    padding: 0;
  }

  .productDetailPhotos img {
    width: 96vw;
    height: 200px;
    margin: 4px 1vw;
  }

  .selectQuantity {
    font-size: 12px;
    padding: 8px 0 16px 0;
  }

  .squares {
    display: none;
  }
}

@media (max-width: 568px) {
  // sm poziom
  .titleProduct {
    font-size: 20px;
    margin: 0;
    padding: 8px 0;
  }

  .giftBoxes, .giftBoxesTitle {
    display: none;
  }

  .textProduct {
    font-size: 14px;
    padding: 0;
    margin: 8px 0 0 0;
  }

  .productDetailPhotos {
    margin: 0;
    padding: 0;
  }

  .productDetailPhotos img {
    width: 96vw;
    height: 200px;
    margin: 4px 1vw;
  }

  .selectQuantity {
    font-size: 12px;
    padding: 8px 0 16px 0;
  }

  .squares {
    display: none;
  }
}

@media (max-width: 768px) {
  //iPad
  .titleProduct {
    font-size: 20px;
    margin: 0;
    padding: 8px 0;
  }

  .giftBoxes, .giftBoxesTitle {
    display: none;
  }

  .textProduct {
    font-size: 14px;
    padding: 0;
    margin: 8px 0 0 0;
  }

  .productDetailPhotos {
    margin: 0;
    padding: 0;
  }

  .productDetailPhotos img {
    width: 96vw;
    height: 200px;
    margin: 4px 1vw;
  }

  .selectQuantity {
    font-size: 12px;
    padding: 8px 0 16px 0;
  }

  .squares {
    display: none;
  }
}

@media (max-width: 992px) {
  //lg
  .titleProduct {
    font-size: 20px;
    margin: 0;
    padding: 8px 0;
  }

  .giftBoxes, .giftBoxesTitle {
    display: none;
  }

  .textProduct {
    font-size: 14px;
    padding: 0;
    margin: 8px 0 0 0;
  }

  .productDetailPhotos {
    margin: 0;
    padding: 0;
  }

  .productDetailPhotos img {
    width: 96vw;
    height: 200px;
    margin: 4px 1vw;
  }

  .selectQuantity {
    font-size: 12px;
    padding: 8px 0 16px 0;
  }

  .squares {
    display: none;
  }
}

@media (max-width: 1200px) {
  //xl
  .titleProduct {
    font-size: 20px;
    margin: 0;
    padding: 8px 0;
  }

  .giftBoxes, .giftBoxesTitle {
    display: none;
  }

  .textProduct {
    font-size: 14px;
    padding: 0;
    margin: 8px 0 0 0;
  }

  .productDetailPhotos {
    margin: 0;
    padding: 0;
  }

  .productDetailPhotos img {
    width: 96vw;
    height: 200px;
    margin: 4px 0.5vw;
  }

  .selectQuantity {
    font-size: 12px;
    padding: 8px 0 16px 0;
  }

  .squares {
    display: none;
  }
}
