@import "../../../styles/settings.scss";

.main {
  background: rgb(183, 196, 255);
  padding: 24px 0 24px 48px;
  font-size: 24px;
  color: rgb(82, 11, 214);
}

.posts {
  font-size: 24px;
  padding: 24px 0 48px 0;
}