@import "../../../styles/settings.scss";

.root {
  display: block;
  overflow: auto;
}

.allHomepage {
  background-image: url("https://i.postimg.cc/QC3sCxPZ/geoda-Duza-Pasy.jpg");
  background-size: cover;
  height: 88vh;
}

.background {
  width: 100%;
  height: 100%;
}

.title {
  top: -80vh;
  color: $color-light;
  opacity: 0.8;
  text-shadow: $color-lightblue 0 0 10px, $color-dark 0 -1px 80px,
    $color-dark 5px -5px 2px, $color-navyblue 0 30px 25px;
  text-align: center;
  font-family: $font-title;
  font-size: 100px;
  font-weight: bold;
  letter-spacing: 16px;
  z-index: 1;
  position: relative;
  i {
    font-size: 88px;
    transition: text-shadow 0.3s ease-in-out;
    &:hover {
      text-shadow: $color-lightblue 0 0 10px, $color-light 0 0 10px,
        $color-light 0 0 2px, $color-navyblue 0 0 5px;
    }
  }
}

.subtitle {
  opacity: 0.8;
  text-shadow: 1px 1px 6px $color-light, 0 0 25px $color-blue,
    0 0 25px $color-light;
  font-family: $font-text;
  font-size: 28px;
  letter-spacing: 16px;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    width: 50%;
    height: 2px;
    bottom: 0;
    left: 25%;
    background-color: $color-light;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.5s cubic-bezier(1, 0.25, 0, 0.75) 0s;
    transition: all 0.5s cubic-bezier(1, 0.25, 0, 0.75) 0s;
  }
  &:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

.wordCarousel {
  text-transform: uppercase;
  div {
    overflow: hidden;
    height: 65px;
    margin-top: 300px;
    li {
      height: 45px;
      margin-bottom: 45px;
      display: block;
    }
  }
}

.flip2 {
  animation: flip2 6s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}
.flip3 {
  animation: flip3 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}
.flip4 {
  animation: flip4 14s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}

@keyframes flip2 {
  0% {
    margin-top: -180px;
  }
  5% {
    margin-top: -90px;
  }
  50% {
    margin-top: -90px;
  }
  55% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}

@keyframes flip3 {
  0% {
    margin-top: -270px;
  }
  5% {
    margin-top: -180px;
  }
  33% {
    margin-top: -180px;
  }
  38% {
    margin-top: -90px;
  }
  66% {
    margin-top: -90px;
  }
  71% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}

@keyframes flip4 {
  0% {
    margin-top: -360px;
  }
  5% {
    margin-top: -270px;
  }
  25% {
    margin-top: -270px;
  }
  30% {
    margin-top: -180px;
  }
  50% {
    margin-top: -180px;
  }
  55% {
    margin-top: -90px;
  }
  75% {
    margin-top: -90px;
  }
  80% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}

.posts {
  font-size: 24px;
  padding: 40px 0 80px 0;
  background: $color-lightblue;
}

//////////////////////////////////////////////////////////////////////////////////////////// Media query

@media (max-width: 767px) {
  //sm

  .title {
    margin-top: 20px;
    font-size: 30px;
    i {
      font-size: 30px;
    }
  }

  .subtitle {
    font-size: 16px;
    letter-spacing: 8px;
    margin-top: 100px;
  }

  .allHomepage {
    background-image: url("https://i.postimg.cc/02YKGnGt/geoda-Duza-Srodek.jpg");
  }

  .wordCarousel {
    display: none;
  }

  .posts {
    font-size: 24px;
    padding: 20px 0 20px 0;
    background: $color-lightblue;
  }
}

@media (max-width: 992px) {
  //lg
  .title {
    margin-top: 20px;
    font-size: 30px;
    i {
      font-size: 30px;
    }
  }

  .subtitle {
    font-size: 16px;
    letter-spacing: 8px;
    margin-top: 100px;
  }
  
  .allHomepage {
    background-image: url("https://i.postimg.cc/02YKGnGt/geoda-Duza-Srodek.jpg");
  }

  .posts {
    font-size: 24px;
    padding: 0 0 20px 0;
    background: $color-lightblue;
  }
}

@media (max-width: 1200px) {
  //xl
}
