@import "../../../styles/settings.scss";

.main {
  background: linear-gradient(-45deg,  #170d9c, #030027, #030027, #170d9c);
	background-size: 400% 400%;
	animation: gradient 8s ease infinite;
  padding: 32px 0;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.allLinks {
  display: flex;
  justify-content: flex-end;
  padding: 0 48px 0 0;
  font-size: 32px;
}

.links {
  color: white;
  padding: 0 24px;
  font-family: $font-text;
}

.line {
  position: absolute;
  content: "";
  height: 1px;
  width: 95%;
  margin: 0 10px;
  background-image: linear-gradient(to right, black, white, black);
}
