@import "../../../styles/settings.scss";

.main {
  background: linear-gradient(-45deg, $color-importantDark, $color-darkblue, $color-darkblue, $color-importantDark);
	background-size: 400% 400%;
	animation: gradient 8s ease infinite;
  padding: 32px 0;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.allLinks {
  display: flex;
  justify-content: flex-end;
  padding: 0 48px 0 0;
  font-size: 32px;
}

.links {
  color: $color-light;
  padding: 0 24px;
  font-family: $font-text;
}

.line {
  position: absolute;
  content: "";
  height: 1px;
  width: 100%;
  background-image: linear-gradient(to right, $color-dark, $color-light, $color-dark);
}
