@import "../../../styles/settings.scss";

.productDescription {
  display: inline-flex;
}

img {
  width: 500px;
  height: 500px;
  border: solid 1px $color-dark;
  padding: 1px;
  max-width: 100%;
  height: auto;
  transition: transform .2s;
  &:hover {
    transform: scale(1.2); 
  }
}

.photoInside {
  margin: 90px 60px 60px 360px;
  transition: box-shadow 0.4s ease-in-out;
  &:hover img {
    box-shadow: 0 0px 10px $color-navyblue; 
  }
}

.mineralText {
  margin-top: 90px;
}

.product {
  color: $color-darkblue;
  margin-left: 560px;
  margin-top: 36px;
  font-size: 32px;
  display: inline-flex;
  font-family: $font-text;
  &:hover {
    text-decoration: none;
    color: $color-darkblue;
  }
}

.mineralNameContent, .mineralPriceContent {
  color: $color-important;
}

.mineralName {
  margin-bottom: 48px;
}

.line {
  position: absolute;
  content: "";
  height: 1px;
  width: 35%;
  background-image: linear-gradient(to right, $color-light, $color-dark, $color-light);
}

.squaresLeftSided {
  margin-left: 20px;
}

.squares {
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.squares li {
  position: absolute;
  display: block;
  list-style: none;
  animation: animate 25s linear infinite;
  animation-delay: 0s;
  bottom: 10px;
}

.squares li:nth-child(1) {
  left: 7%;
  width: 30px;
  height: 30px;
  animation-duration: 15s;
  background-color: $color-important;
}

.squares li:nth-child(2) {
  left: 8%;
  width: 20px;
  height: 20px;
  animation-duration: 19s;
  background-color: $color-navyblue;
}

.squares li:nth-child(3) {
  left: 9%;
  width: 16px;
  height: 16px;
  animation-duration: 23s;
  background-color: $color-navyblue;
}

.squares li:nth-child(4) {
  left: 10%;
  width: 32px;
  height: 32px;
  animation-duration: 27s;
  background-color: $color-important;
}

.squares li:nth-child(5) {
  left: 11%;
  width: 22px;
  height: 22px;
  animation-duration: 31s;
  background-color: $color-navyblue;
}

.squares li:nth-child(6) {
  left: 12%;
  width: 14px;
  height: 14px;
  animation-duration: 17s;
  background-color: $color-importantDark;
}

.squares li:nth-child(7) {
  left: 13%;
  width: 26px;
  height: 26px;
  animation-duration: 21s;
  background-color: $color-navyblue;
}

.squares li:nth-child(8) {
  left: 14%;
  width: 24px;
  height: 24px;
  animation-duration: 25s;
  background-color: $color-navyblue;
}

.squares li:nth-child(9) {
  left: 15%;
  width: 15px;
  height: 15px;
  animation-duration: 26s;
  background-color: $color-importantDark;
}

.squares li:nth-child(10) {
  left: 16%;
  width: 20px;
  height: 20px;
  animation-duration: 16s;
  background-color: $color-blue;
}

.squares li:nth-child(11) {
  left: 17%;
  width: 20px;
  height: 20px;
  animation-duration: 18s;
  background-color: $color-navyblue;
}

.squares li:nth-child(12) {
  left: 18%;
  width: 26px;
  height: 26px;
  animation-duration: 22s;
  background-color: $color-blue;
}

.squares li:nth-child(13) {
  left: 19%;
  width: 26px;
  height: 26px;
  animation-duration: 26s;
  background-color: $color-important;
}

.squares li:nth-child(14) {
  left: 20%;
  width: 16px;
  height: 16px;
  animation-duration: 24s;
  background-color: $color-navyblue;
}

.squares li:nth-child(15) {
  left: 21%;
  width: 12px;
  height: 12px;
  animation-duration: 20s;
  background-color: $color-blue;
}

.squares li:nth-child(16) {
  left: 22%;
  width: 10px;
  height: 10px;
  animation-duration: 14s;
  background-color: $color-importantDark;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-3376px) rotate(720deg);
    opacity: 0.9;
    border-radius: 0;
  }
}