@import "../../../styles/settings.scss";

.root {
  height: 72vh;
  background-color: $color-lightblue;
}

.backToHomepage {
  text-transform: uppercase;
  width: fit-content;
  font-family: $font-text;
  background: linear-gradient(
    -45deg,
    $color-blue,
    $color-importantDark,
    $color-darkblue,
    $color-importantDark,
    $color-blue
  );
  background-size: 200% 200%;
  margin: 20px 0 0 136px;
  padding: 20px 40px;
  color: $color-light;
  border: solid 1px black;
  font-size: 32px;
  position: relative;
  z-index: 1;
  &:hover {
    box-shadow: 0 0px 20px $color-navyblue;
    text-decoration: none;
    color: $color-light;
  }
}

.container {
  margin-left: 100px;
  width: 30vw;
  height: 50vh;

  display: flex;
  justify-content: center;
  align-items: center;

  .box {
    width: 500px;
    height: 500px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .title {
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;
      height: 100px;

      .block {
        width: 0%;
        height: inherit;
        background: $color-important;
        position: absolute;
        animation: mainBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
        display: flex;
      }

      h1 {
        font-family: $font-text;
        color: $color-navyblue;
        font-size: 64px;
        -webkit-animation: mainFadeIn 2s forwards;
        -o-animation: mainFadeIn 2s forwards;
        animation: mainFadeIn 2s forwards;
        animation-delay: 1.6s;
        opacity: 0;
        display: flex;
        align-items: baseline;
        position: relative;
      }
    }

    .role {
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;
      height: 30px;
      margin-top: -10px;

      .block {
        width: 0%;
        height: inherit;
        background: $color-importantDark;
        position: absolute;
        animation: secBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
        animation-delay: 2s;
        display: flex;
      }

      p {
        animation: secFadeIn 2s forwards;
        animation-delay: 3.2s;
        opacity: 0;
        font-family: $font-text;
        color: $color-darkblue;
        font-size: 24px;
        text-transform: uppercase;
        letter-spacing: 5px;
      }
    }
  }
}

@keyframes mainBlock {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes secBlock {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes mainFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes popIn {
  0% {
    width: 0px;
    height: 0px;
    background: #e9d856;
    border: 0px solid #ddd;
    opacity: 0;
  }
  50% {
    width: 10px;
    height: 10px;
    background: #e9d856;
    opacity: 1;
    bottom: 45px;
  }
  65% {
    width: 7px;
    height: 7px;
    bottom: 0px;
    width: 15px;
  }
  80% {
    width: 10px;
    height: 10px;
    bottom: 20px;
  }
  100% {
    width: 7px;
    height: 7px;
    background: #e9d856;
    border: 0px solid #222;
    bottom: 13px;
  }
}

@keyframes secFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

//////////////////////////////////////////////////////////////////////////////////////////// Media query
@media (max-width: 767px) {
  //sm
  .backToHomepage {
    margin: 20px 0 0 12px;
    padding: 4px 8px;
    font-size: 28px;
  }

  .container {
    margin-left: 20px;
    width: 80vw;
    height: 50vh;

    display: flex;
    justify-content: center;
    align-items: center;

    .box {
      width: 80vw;

      .title {
        h1 {
          font-size: 36px;
        }
      }

      .role p {
        font-size: 12px;
        letter-spacing: 2px;
      }
    }
  }
}

@media (max-width: 411px) {
  // pixel 2 xl
  .backToHomepage {
    margin: 20px 0 0 12px;
    padding: 4px 8px;
    font-size: 28px;
  }

  .container {
    margin-left: 20px;
    width: 80vw;
    height: 50vh;

    display: flex;
    justify-content: center;
    align-items: center;

    .box {
      width: 80vw;

      .title {
        h1 {
          font-size: 36px;
        }
      }

      .role p {
        font-size: 12px;
        letter-spacing: 2px;
      }
    }
  }
}

@media (max-width: 568px) {
  // sm poziom
  .backToHomepage {
    margin: 20px 0 0 12px;
    padding: 4px 8px;
    font-size: 28px;
  }

  .container {
    margin-left: 20px;
    width: 80vw;
    height: 50vh;

    display: flex;
    justify-content: center;
    align-items: center;

    .box {
      width: 80vw;

      .title {
        h1 {
          font-size: 36px;
        }
      }

      .role p {
        font-size: 12px;
        letter-spacing: 2px;
      }
    }
  }
}

@media (max-width: 768px) {
  //iPad
  .backToHomepage {
    margin: 20px 0 0 12px;
    padding: 4px 8px;
    font-size: 28px;
  }

  .container {
    margin-left: 20px;
    width: 80vw;
    height: 50vh;

    display: flex;
    justify-content: center;
    align-items: center;

    .box {
      width: 80vw;

      .title {
        h1 {
          font-size: 36px;
        }
      }

      .role p {
        font-size: 12px;
        letter-spacing: 2px;
      }
    }
  }
}

@media (max-width: 992px) {
  //lg
  .backToHomepage {
    margin: 20px 0 0 12px;
    padding: 4px 8px;
    font-size: 28px;
  }

  .container {
    margin-left: 20px;
    width: 80vw;
    height: 50vh;

    display: flex;
    justify-content: center;
    align-items: center;

    .box {
      width: 80vw;

      .title {
        h1 {
          font-size: 36px;
        }
      }

      .role p {
        font-size: 12px;
        letter-spacing: 2px;
      }
    }
  }
}

@media (max-width: 1200px) {
  //xl
  .backToHomepage {
    margin: 20px 0 0 12px;
    padding: 4px 8px;
    font-size: 28px;
  }

  .container {
    margin-left: 20px;
    width: 80vw;
    height: 50vh;

    display: flex;
    justify-content: center;
    align-items: center;

    .box {
      width: 80vw;

      .title {
        h1 {
          font-size: 36px;
        }
      }

      .role p {
        font-size: 12px;
        letter-spacing: 2px;
      }
    }
  }
}
