@import "../../../styles/settings.scss";

.root {
  height: 732px;
}

.allHomepage {
  background-image: url("https://i.postimg.cc/02YKGnGt/geoda-Duza-Srodek.jpg");
  background-size: cover;
  height: 100%;
}

.background {
  width: 100%;
  height: 100%;
}

.title {
  color: rgb(255, 255, 255);
  opacity: 0.7;
  text-shadow: 1px 1px 1px rgb(255, 255, 255), 0 0 25px rgb(92, 113, 233), 0 0 25px rgb(255, 255, 255);
  text-align: center;
  font-family: $font-text;
  font-size: 160px;
  font-weight: 400;
  padding: 96px 0 0 0;
  letter-spacing: 16px;
  margin-top: -800px;
}

.subtitle {
  color: rgb(255, 255, 255);
  opacity: 0.7;
  text-shadow: 1px 1px 1px rgb(255, 255, 255), 0 0 25px rgb(92, 113, 233), 0 0 25px rgb(255, 255, 255);
  font-family: $font-text;
  font-size: 72px;
  position: absolute;
  bottom: 0;
  margin: 0 0 24px 580px;

  .subtitleText {
    text-align: center;
  }

  i {
    font-size: 72px;
    padding: 0 0 0 48px;
  }
}

.posts {
  font-size: 24px;
  padding: 24px 0 48px 0;
  top: 840px;
  left: 0;
  right: 0;
  display: block;
  position: absolute;
}