@import "../../../styles/settings.scss";

.sectionTitle {
  background-image: url("https://i.postimg.cc/26f6rqFk/fioletowe-jasniejsze-blue.jpg");
  background-repeat: no-repeat, repeat;
  background-size: cover;
  background-position: center;
  color: $color-light;
  font-size: 60px;
  padding: 120px 0;
  font-weight: bold;
  text-align: center;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    width: 80%;
    height: 2px;
    bottom: 0;
    left: 10%;
    background-color: $color-navyblue;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.5s cubic-bezier(1, 0.25, 0, 0.75) 0s;
    transition: all 0.5s cubic-bezier(1, 0.25, 0, 0.75) 0s;
  }
  &:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

.letter {
  display: inline-flex;
  height: 30px;
  width: 27px;
  animation: letter 3s ease-in-out infinite alternate;
}
@keyframes letter {
  0%,
  30% {
    width: 27px;
  }
  70%,
  100% {
    width: 3vw;
  }
}

.product img {
  width: 400px;
  border: solid 1px $color-dark;
  padding: 1px;
  height: 380px;
  object-fit: cover;
  transition: transform 0.2s;
  &:hover {
    transform: scale(1.1);
  }
}

.photoInside {
  margin: 0 56px;
  transition: box-shadow 0.4s ease-in-out;
  &:hover img {
    animation: pulse 1s infinite;
    animation-timing-function: linear;
  }
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  &:hover .clickToSeeDetails {
    opacity: 1;
  }
}

.clickToSeeDetails {
  color: $color-light;
  font-size: 24px;
  text-decoration: none;
  width: fit-content;
  background-color: $color-darkblue;
  padding: 16px;
  margin-bottom: -50px;
  border: solid 1px $color-light;
  position: relative;
  z-index: 1;
  top: -35%;
  left: 25%;
  opacity: 0;
}

.productText {
  margin: 0 0 0 56px;
}

.empty {
  height: 90px;
}

.allMinerals {
  display: inline-flex;
  margin-top: 80px; 
}

.allProducts {
  display: inline-flex;
  flex-wrap: wrap;
  margin-top: 120px;
}

.product {
  color: $color-darkblue;
  font-size: 16px;
  display: block;
  font-family: $font-text;
  &:hover {
    text-decoration: none;
    color: $color-darkblue;
  }
}

.photoInsideMaterial {
  position: relative;  

  &:hover .clickToExplore {
    opacity: 1;
    text-decoration: none;
    color: $color-light;
    cursor: pointer;
  }

  img {
    width: 20vw;
    margin: 0 2.25vw;
    border: solid 1px $color-dark;
    height: 500px;
    object-fit: cover;
  }
}

.clickToExplore {
  position: absolute;
  color: $color-light;
  font-size: 20px;
  letter-spacing: 0px;
  width: fit-content;
  background-color: $color-darkblue;
  padding: 8px 16px;
  box-shadow: 0 0px 10px $color-navyblue;
  border: solid 1px $color-light;
  position: relative;
  z-index: 1;
  opacity: 0;
}

.mineralTitle {
  color: $color-light;
  width: 20vw;
  text-align: center;
  text-shadow: 2px 2px $color-navyblue;
  margin: 0 2.25vw;
  text-transform: uppercase;
  letter-spacing: 20px;
  position: absolute;
  top: 10%;
}

.productPriceContent {
  color: $color-important;
}

.squares {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.squares li {
  position: absolute;
  display: block;
  list-style: none;
  animation: animate 25s linear infinite;
  animation-delay: -2.5s;
  bottom: 10px;
}

.squares li:nth-child(1) {
  left: 7%;
  animation-duration: 15s;
  color: $color-important;
}

.squares li:nth-child(2) {
  left: 8%;
  animation-duration: 19s;
  color: $color-lighterblue;
}

.squares li:nth-child(3) {
  left: 9%;
  animation-duration: 23s;
  color: $color-lightblue;
}

.squares li:nth-child(4) {
  left: 10%;
  animation-duration: 27s;
  color: $color-important;
}

.squares li:nth-child(5) {
  left: 11%;
  animation-duration: 31s;
  color: $color-lighterblue;
}

.squares li:nth-child(6) {
  left: 12%;
  animation-duration: 17s;
  color: $color-importantDark;
}

.squares li:nth-child(7) {
  left: 13%;
  animation-duration: 21s;
  color: $color-lighterblue;
}

.squares li:nth-child(8) {
  left: 14%;
  animation-duration: 25s;
  color: $color-lighterblue;
}

.squares li:nth-child(9) {
  left: 15%;
  animation-duration: 26s;
  color: $color-importantDark;
}

.squares li:nth-child(10) {
  left: 16%;
  animation-duration: 16s;
  color: $color-blue;
}

.squares li:nth-child(11) {
  left: 17%;
  animation-duration: 18s;
  color: $color-lightblue;
}

.squares li:nth-child(12) {
  left: 18%;
  animation-duration: 22s;
  color: $color-blue;
}

.squares li:nth-child(13) {
  left: 19%;
  animation-duration: 26s;
  color: $color-important;
}

.squares li:nth-child(14) {
  left: 20%;
  animation-duration: 24s;
  color: $color-lighterblue;
}

.squares li:nth-child(15) {
  left: 21%;
  animation-duration: 20s;
  color: $color-blue;
}

.squares li:nth-child(16) {
  left: 22%;
  animation-duration: 13.5s;
  color: $color-importantDark;
}

.squares li:nth-child(17) {
  left: 77%;
  animation-duration: 14.5s;
  color: $color-lightblue;
}

.squares li:nth-child(18) {
  left: 78%;
  animation-duration: 21s;
  color: $color-blue;
}

.squares li:nth-child(19) {
  left: 79%;
  animation-duration: 20s;
  color: $color-lighterblue;
}

.squares li:nth-child(20) {
  left: 80%;
  animation-duration: 15s;
  color: $color-lighterblue;
}

.squares li:nth-child(21) {
  left: 81%;
  animation-duration: 18s;
  color: $color-important;
}

.squares li:nth-child(22) {
  left: 82%;
  animation-duration: 21s;
  color: $color-lighterblue;
}

.squares li:nth-child(23) {
  left: 83%;
  animation-duration: 26s;
  color: $color-lighterblue;
}

.squares li:nth-child(24) {
  left: 84%;
  animation-duration: 22s;
  color: $color-blue;
}

.squares li:nth-child(25) {
  left: 85%;
  animation-duration: 23s;
  color: $color-importantDark;
}

.squares li:nth-child(26) {
  left: 86%;
  animation-duration: 19s;
  color: $color-blue;
}

.squares li:nth-child(27) {
  left: 87%;
  animation-duration: 20s;
  color: $color-lighterblue;
}

.squares li:nth-child(28) {
  left: 88%;
  animation-duration: 24s;
  color: $color-lightblue;
}

.squares li:nth-child(29) {
  left: 89%;
  animation-duration: 27s;
  color: $color-important;
}

.squares li:nth-child(30) {
  left: 90%;
  animation-duration: 22s;
  color: $color-important;
}

.squares li:nth-child(31) {
  left: 91%;
  animation-duration: 17s;
  color: $color-importantDark;
}

.squares li:nth-child(32) {
  left: 92%;
  animation-duration: 14s;
  color: $color-importantDark;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-100vh) rotate(720deg);
    opacity: 0.9;
    border-radius: 0;
  }
}

//////////////////////////////////////////////////////////////////////////////////////////// Media query

@media (max-width: 767px) {
  //sm
  .squares li {
    font-size: 12px;
  }

  .sectionTitle {
    color: $color-light;
    text-align: center;
    font-size: 32px;
    padding: 40px 0;
  }

  .allProducts {
    margin-top: 40px;
  }

  .letter {
    display: none;
  }

  .product img {
    width: 140px;
    border: solid 1px $color-dark;
    padding: 1px;
    height: 130px;
    object-fit: cover;
    transition: transform 0.2s;
    &:hover {
      transform: scale(1.1);
    }
  }

  .productText {
    margin: 0 0 0 8px;
  }

  .productNameContent {
    width: 160px;
  }

  .product {
    display: inline-flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }

  .photoInside {
    margin: 0 0 0 20px;
  }

  .clickToSeeDetails {
    color: $color-light;
    font-size: 10px;
    text-decoration: none;
    width: fit-content;
    background-color: $color-darkblue;
    padding: 2px 2px;
    margin-bottom: 0;
    border: solid 1px $color-light;
    position: relative;
    z-index: 1;
    top: -50%;
    left: 15%;
    opacity: 0;
  }

  .empty {
    height: 40px;
  }

  .allMinerals {
    display: block;
  }

  .photoInsideMaterial {
    img {
      width: 96vw;
      margin: 4px 1.25vw;
      height: 120px;
    }
  }

  .clickToExplore {
    opacity: 1;
    font-size: 8px;
    padding: 2px;
  }

}

@media (max-width: 992px) {
  //lg, Pixel 2XL horizontally

  .squares li {
    font-size: 16px;
  }

  .sectionTitle {
    color: $color-light;
    text-align: center;
    font-size: 24px;
    padding: 40px 0;
  }

  .allProducts {
    margin-top: 40px;
  }

  .letter {
    display: none;
  }

  .product img {
    width: 40vw;
    border: solid 1px $color-dark;
    padding: 1px;
    height: 140px;
    object-fit: cover;
    transition: transform 0.2s;
    &:hover {
      transform: scale(1.1);
    }
  }

  .productText {
    margin: 0 0 0 8px;
  }

  .productNameContent {
    width: 160px;
  }

  .product {
    display: inline-flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }

  .photoInside {
    margin: 0 0 0 20px;
  }

  .clickToSeeDetails {
    color: $color-light;
    font-size: 10px;
    text-decoration: none;
    width: fit-content;
    background-color: $color-darkblue;
    padding: 2px 2px;
    margin-bottom: 0;
    border: solid 1px $color-light;
    position: relative;
    z-index: 1;
    top: -50%;
    left: 15%;
    opacity: 0;
  }

  .empty {
    height: 40px;
  }

  .allMinerals {
    display: block;
  }

  .photoInsideMaterial {
    img {
      width: 96vw;
      margin: 4px 1.25vw;
      height: 120px;
    }
  }

  .clickToExplore {
    opacity: 1;
  }
}

@media (max-width: 1200px) {
  //xl, iPad horizontally
  .allMinerals {
    display: block;
  }

  .photoInsideMaterial {
    img {
      width: 96vw;
      margin: 4px 1.25vw;
      height: 120px;
    }
  }

  .clickToExplore {
    opacity: 1;
  }
}
