@import "../../../styles/settings.scss";

.root {
  padding: 24px 0 48px 48px;
  background: $color-lightblue;
  height: 88vh;
}

.line {
  position: absolute;
  content: "";
  height: 1px;
  width: 18%;
  background-image: linear-gradient(
    to right,
    $color-lightblue,
    $color-dark,
    $color-lightblue
  );
}

.cart {
  font-family: $font-text;
  font-size: 20px;
  color: $color-navyblue;
}

.cartContentTitle {
  font-size: 60px;
  color: $color-importantDark;
  padding: 20px 0 20px 36px;
  margin-bottom: 60px;
  &:hover {
    color: $color-navyblue;
  }
  position: relative;
  &:before {
    content: "";
    position: absolute;
    width: 50%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: $color-navyblue;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all .5s cubic-bezier(1,.25,0,.75) 0s;
    transition: all .5s cubic-bezier(1,.25,0,.75) 0s;
    }
    &:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    }
}

.orderedItems {
  min-width: 400px;
}

.amountAll {
  width: 200px;
}

.plusAndMinus {
  font-size: 16px;
  display: inline-flex;
}

.minus,
.plus {
  margin: 0 12px;
  color: $color-light;
  background-color: $color-navyblue;
  height: 24px;
  width: 24px;
  text-align: center;
  border-radius: 15%;
  &:hover {
    box-shadow: 0 0px 10px $color-navyblue;
  }
}

.price {
  width: 300px;
  text-align: center;
}

.comment {
  width: 400px;
  text-align: center;
  input {
    padding: 4px 0 4px 4px;
    font-size: 12px;
    width: 100%;
  }
}

.orderedMinerals {
  list-style-type: none;
  font-size: 22px;
  li {
    padding: 12px 0;
    width: 1400px;
    display: flex;
    .icons {
      margin-left: auto;
      i {
        padding: 0 4px;
        &:hover {
          color: $color-important;
        }
      }
    }
  }
}

.cartOrderPrice {
  font-size: 22px;
  list-style-type: none;
  margin-bottom: 120px;
  li {
    padding: 12px 0;
  }
}

.clickToContinue {
  text-transform: uppercase;
  background: linear-gradient(
    -45deg,
    $color-blue,
    $color-importantDark,
    $color-darkblue,
    $color-importantDark,
    $color-blue
  );
  background-size: 200% 200%;
  margin: 0 0 0 48px;
  animation: gradient 8s ease infinite;
  padding: 20px 40px;
  color: $color-light;
  border: solid 1px black;
  font-size: 32px;
  position: relative;
  z-index: 1;
  &:hover {
    text-decoration: none;
    color: $color-light;
    box-shadow: 0 0px 20px $color-navyblue;
    font-weight: bold;
  }
}


//////////////////////////////////////////////////////////////////////////////////////////// Media query 