$font-text: 'Montserrat', sans-serif;
$font-title: 'Raleway', sans-serif;

$color-dark: rgb(0, 0, 0);
$color-darkblue: rgb(0, 0, 27);
$color-navyblue: rgb(0, 0, 82);
$color-blue: #443ad4;
$color-lighterblue: #6c7dc4;
$color-lightblue: #c2cbee;
$color-light: rgb(255, 255, 255);
$color-lightgrey: rgb(233, 233, 233);
$color-important:  rgb(158, 25, 158);
$color-importantDark:  rgb(90, 10, 90);